<div id="<%= dom_id company %>">
  <p>
    <strong>Category:</strong>
    <%= company.category %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= company.company_name %>
  </p>

  <p>
    <strong>Aspiration:</strong>
    <%= company.aspiration %>
  </p>

  <p>
    <strong>Mypage url:</strong>
    <%= company.mypage_url %>
  </p>

</div>
