<%= stylesheet_link_tag 'selection', :media => "all" %>
<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="form">
    <tr>
      <th><%= form.label :"業種", style: "display: block" %></th>
      <td><%= form.text_field :category %></td>
    </tr>

    <tr>
      <th><%= form.label :"会社名", style: "display: block" %></th>
      <td><%= form.text_field :company_name %></td>
    </tr>

    <tr>
      <th><%= form.label :"志望度(1~3)", style: "display: block" %></th>
      <td><%= form.select :aspiration, options_for_select(["第一志望群", "第二志望群", "第三志望群"]), { selected: "第一志望群" } %></td>
    </tr>

    <tr>
      <th><%= form.label :"マイページ", style: "display: block" %></th>
      <td><%= form.text_field :mypage_url %></td>
    </tr>
  </table>
    <div class="submit">
      <%= form.submit %>
    </div>
<% end %>
