<div id="<%= dom_id selection %>">
  <p>
    <strong>Company:</strong>
    <%= selection.company_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= selection.status %>
  </p>

  <p>
    <strong>Es deadline:</strong>
    <%= selection.es_deadline %>
  </p>

  <p>
    <strong>Is intern:</strong>
    <%= selection.is_intern %>
  </p>

  <p>
    <strong>Next plan:</strong>
    <%= selection.next_plan %>
  </p>

  <p>
    <strong>Plan date:</strong>
    <%= selection.plan_date %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= selection.note %>
  </p>

</div>
